.registrationContainer {
    width: 100%;
    min-height: 100vh;
    background: url(../assets/img/bg.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registrationBox {
    width: 100%;
    max-width: 900px;
    padding: 30px;
    background: rgba(40, 1, 1, 0.85);
    border-radius: 15px;
    border: 3px solid #FFBB00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 200px auto;
}

.registrationBox h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.registrationForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    align-self: flex-start;
}

.formGroup input,
.formGroup select {
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.formGroup input::placeholder {
    color: #aaa;
}

.registrationBtn {
    grid-column: span 2;
    width: 150px;
    padding: 12px;
    background-color: #97430F;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #FFBB00;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    justify-self: end;
}

.registrationBtn:hover {
    background-color: #0056b3;
}

.registrationBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    border-color: #999999;
}

.logo img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.message {
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .registrationForm {
        grid-template-columns: 1fr;
    }

    .registrationBtn {
        grid-column: 1;
        width: 100%;
    }

    .registrationBox {
        margin: 100px auto;
        padding: 20px;
    }
}