/* coach-profile.module.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
    min-height: 100vh; /* Ensures background covers at least the viewport height */
    background: linear-gradient(160deg, #400404 0%, #742403 80%, #EC6E00 100%);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.body {
    font-family: 'Arial', sans-serif;
    background: url('./pics/loginpagebg.png') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgetPasswordContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetPasswordBox {
    width: 350px;
    padding: 40px;
    background: rgba(40, 1, 1, 0.85);
    border-radius: 15px;
    border: 3px solid #FFBB00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.forgotTitle {
    margin-bottom: 20px; /* Add space below the heading */
}

.forgotTitle h2 {
    color: #fff;
    font-size: 24px; /* Adjust font size */
    margin: 0; /* Remove default margins */
    text-align: left;
}

.formGroup {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px; /* Space between form group and other elements */
}

.forgotEmail {
    color: white; /* Label text color */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 20px; /* Space between label and input */
}

/* Dropdown and Upload Input Styling */
#verificationCode {
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    background-color: rgba(224, 210, 210, 0.6); /* Set the desired background color */
    color: #000; /* Ensure the text remains readable */
    margin-top: 10px;
    margin-bottom: 10px;
}

#verificationCode::placeholder {
    color: #333; /* Slightly darker placeholder color */
}

#verificationCode:focus {
    outline: none; /* Remove default outline */
    border: 1px solid #FFBB00; /* Highlight border on focus */
    background-color: rgba(224, 210, 210, 0.8); /* Slightly darker on focus */
}

.reset {
    width: 100px;
    padding: 10px;
    background-color: #97430F;
    color: white;
    font-size: 10px; /* Reduced size for better visual */
    font-weight: bold;
    border: 3px solid #FFBB00; /* Yellow border added here */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.reset:hover {
    opacity: .9;
}

.footerBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

.emailContact {
    display: flex;
    align-items: center;
}

.emailContact i {
    margin-right: 10px;
}
