@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
    min-height: 100vh; /* Ensures background covers at least the viewport height */
    background: linear-gradient(160deg, #400404 0%, #742403 80%, #EC6E00 100%);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/* profile.module.css */

.profileContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
}

.profileContainer h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    color: white; /* Adjust the color as needed */
}

.profileContent {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.profileIcon {
    text-align: left;
    margin-right: 20px;
}

.profileIcon i {
    color: #333;
}

.profileIcon p {
    text-align: center;
    margin-top: 10px;
}

.profileIcon p a {
    text-decoration: none;
    color: white;
}

.profileIcon h2 {
    text-align: center;
    color: white; /* Adjust the color as needed */
    margin-top: 10px;
}

.profileDetails {
    flex-grow: 1;
}

.profileDetails table {
    width: 100%;
    border-collapse: collapse;
}

.profileDetails table td {
    padding: 10px;
    vertical-align: top;
}

.profileDetails table td label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white; /* Adjust the color as needed */
}

.profileDetails table td input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(224, 210, 210, 0.8); /* Slightly darker on focus */
}

.profileDetails table td input:focus {
    background-color: rgba(224, 210, 210, 1); /* Slightly darker on focus */
}

.changePasswordBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgba(224, 210, 210, 1);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.changePasswordBtn:hover {
    opacity: .9;
}


/* filepath: /c:/Users/Patrick Villanueva/Desktop/CvsuAthleticaReact/src/pages/extraPages/profile.module.css */
.submitBtn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #9d0f0f46; /* Set the desired background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
}

.submitBtn:hover {
    opacity: .9;
}